
.card img{
    height:300px;
    width:300px;
}

.btn{
    border-radius: 5px;
}
.radius{
    display: block;
    border-radius: 50px;
}

mat-paginator {
    display: flex;
    justify-content: center;
  }
  